{% extends 'master_template.html' %}
{%  block body_block  %}
{% load crispy_forms_tags %}
<div class="col-lg-12">

    <div class="card">
        <div class="card-title">
            <h4>New Qoute</h4>
         <br/>
            <br/>
        </div>
        <div class="row">
            <div class="messages col-lg-12">
                {% for msg in messages %}

                <div class="alert alert-success" role="alert">
                    {{msg.message}}
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="messages col-lg-12">
                {% for msg in form.errors %}

                <div class="alert alert-success" role="alert">
                    {{msg.message}}
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    {% csrf_token %}
                    <!--invoice top info-->
                         <div class="form-row col-md-6">
                            <div class="col-md-12">
                                {{forms.company|as_crispy_field}}<br/>
                            </div>
                            <div class="col-md-12">
                              {{forms.pobox|as_crispy_field}}
                            </div>
                            <div class="col-md-12">
                              {{forms.city|as_crispy_field}}

                            </div>
                             <div class="col-md-12">
                              {{forms.antetion_person|as_crispy_field}}

                            </div>
                             <div class="col-md-12">
                              {{forms.stock_info|as_crispy_field}}

                            </div>
                            

                        </div>
                    <!--END DATE-->
                     <div class="form-row col-md-6">
                            <div class="col-md-12">
                                {{forms.currency|as_crispy_field}}<br/>
                            </div>
                            <div class="col-md-12">
                              {{forms.start_date|as_crispy_field}}
                            </div>
                            <div class="col-md-12">
                              {{forms.end_date|as_crispy_field}}

                            </div>
                            <div class="col-md-12">
                              {{forms.campaign|as_crispy_field}}

                            </div>
                            <div class="col-md-12">
                              {{forms.deposittype|as_crispy_field}}

                            </div>
                             <div class="col-md-12">
                              {{forms.tag|as_crispy_field}}

                            </div>
                            <div class="col-md-12">
                              {{forms.show_tax|as_crispy_field}}

                            </div>
                            <div class="col-md-12">
                              {{forms.comment|as_crispy_field}}

                            </div>
                            
                            


                        </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                              {{forms.category|as_crispy_field}}

                            </div>
                        <div class="col-md-6">
                              {{forms.champion|as_crispy_field}}

                            </div>
                    </div>
                    <!--invoice top bottom -->



                    <!----INOICE LINE---->
                <div class="col-md-12 table-responsive">
                  <table class="table table-bordered table-hover" id="tab_logic" style="width:100%;">
                    <thead>
                        <tr>
                    <td colspan="6"  style="border: none;"><p class="text-danger">If the line is invoice subheader put 0 on both price and qty</p></td>
                   
                  </tr>
                      <tr>
                        <th class="text-center" width="5%" > MAIN? </th>
                        <th class="text-center" width="10%">Order</th>
                        <th class="text-center" width="30%"> Product/Service </th>
                        <th class="text-center" width="15%"> Qty </th>
                        <th class="text-center" width="20%"> Price </th>
                        <th class="text-center" width="20%"> Total </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id='addr0'>
                        <td><input name="ismain" type="checkbox" class="case" /></td>
                        <td><input name="order" class="form-control" type="number" required="true" /></td>
                        <td><textarea type="text" name='desc' id="product"  required="true" placeholder='Enter product/servive name' class="form-control"/></textarea></td>
                        <td><input type="number" step="0.01" name='qty' id="qty"  required="true" placeholder='Enter Qty' class="form-control qty" step="0" min="0"/></td>
                        <td><input type="number" step="0.01" name='price' id="price" required="true" placeholder='Unite price' class="form-control price" step="0.00" min="0"/></td>
                        <td><input type="number" step="0.01" name='total' id="total" placeholder='0.00' class="form-control total" readonly/></td>
                      </tr>
                      <tr id='addr1'></tr>
                    </tbody>
                  </table>
                </div>
                    <!--bottom -->
                     <div class="row col-md-12">
              <div class="col-md-12">
                <button id="add_row" class="btn btn-primary float-left"><i class="glyphicon glyphicon-plus"></i></button>
               <!-- <button id="add_row_main" class="btn btn-info float-left"><i class="glyphicon glyphicon-ban-circle"></i></button>-->
                
                <button id='delete_row' class="float-right btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
              </div>
            </div>
              <div class="row col-md-12">
                <div class="col-md-6"></div>
                <div class="col-md-6 float-right">
                  <table class="table table-bordered table-hover float-right" width="30%" id="tab_logic_total">
                    <tbody>
                      <tr>
                        <th class="text-center">Sub Total</th>
                        <td class="text-center"><input type="number" step="0.01" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
                      </tr>
                       <!--<tr>
                        <th class="text-center"><div class="input-group mb-2 mb-sm-0"> <input type="tex" name="tax_code" class="form-control" value="W.Tax" ></div></th>
                        <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                            <input type="number" name="tax" class="form-control" value="<?php echo tax(); ?>" id="tax" placeholder="0">
                            <div class="input-group-addon">%</div>
                          </div></td>
                      </tr>-->
                      <tr>
                        <th class="text-center">VAT(18%)</th>
                        <td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
                      </tr>
                      <tr>
                        <th class="text-center">GRAND TOTAL</th>
                        <td class="text-center"><input type="number" step="0.01" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
                    <!-- /bottom rows-->
                    <!---------INVOICE LINE-->


                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn col-md-3 btn-primary">Save</button>
                            <a href="{% url 'contactlist' %}"><button type="button" class="btn col-md-3 btn-danger">Cancel</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /# column -->
<div class="col-lg-4">

</div>
<!-- /# column -->
</div>
{% endblock %}
{% block jss %}
<script>
$(document).ready(function(){
    var i=1;
    $("#add_row").click(function(){b=i-1;
 var tr='<tr><td><input type="checkbox" name="ismain" class="case" /></td></td><td><input class="form-control" name="order" type="number" required="true" /></td><td><textarea type="text" name="desc" id="product"  required="true" placeholder="Enter product" class="form-control"/></textarea></td> <td><input type="number" name="qty" id="qty" required="true"  class="form-control qty" step="0" min="0"/></td><td><input type="number" name="price" id="price" required="true" placeholder="Unite price" class="form-control price" step="0.00" min="0"/></td> <td><input type="number" step="0.01" name="total[]"" id="total" placeholder="0.00" class="form-control total" readonly/></td></tr>';
  $('#tab_logic').append(tr);
    });
     $("#add_row_main").click(function(){b=i-1;
 var tr='<tr><td><input  name="ismain" type="checkbox" class="case"/></td></td><td><textarea type="text" name="desc" id="product"  required="true" placeholder="Enter product" class="form-control"/></textarea></td> <td><input type="number" name="qty" id="qty" required="false"  readonly="true" class="form-control qty" step="0" min="0"/></td><td><input type="number" name="price" id="price" readonly="true" placeholder="Unite price" class="form-control price" step="0.00" min="0"/></td> <td><input type="number" name="total[]"" id="total" placeholder="0.00" class="form-control total" readonly/></td></tr>';
  $('#tab_logic').append(tr);
    });


 $("#delete_row").on('click', function() {
  if ($('.case:checkbox:checked').length > 0){
  $('.case:checkbox:checked').parents("tr").remove();
    calc();
  }
  else confirm_check();

});


  $("tr td.td").on("click",".remove", function(){
    alert('mii');
  $(this).parent("tr:first").remove();
});

  $('#tab_logic tbody').on('keyup change',function(){
    calc();
  });
  $('#tax').on('keyup change',function(){
    calc_total();
  });


});

function calc()
{
  $('#tab_logic tbody tr').each(function(i, element) {
    var html = $(this).html();
    if(html!='')
    {
      var qty = $(this).find('.qty').val();
      var price = $(this).find('.price').val();
      $(this).find('.total').val(qty*price);

      calc_total();
    }
    });
}

function calc_total()
{
  total=0;
  $('.total').each(function() {
        total += parseInt($(this).val());
    });
  $('#sub_total').val(total.toFixed(2));
  tax_sum=(total)*0.18;
  
  $('#tax_amount').val(tax_sum.toFixed(2));
  $('#total_amount').val((total+tax_sum).toFixed(2));
}




</script>

{% endblock %}
