{% extends 'master_template.html' %}
{%  block body_block  %}
<div class="col-lg-8">

    <div class="card">
        <div class="card-title">
            <h4>Update meeting </h4>

        </div>
        <div class="row">
            <div class="messages col-lg-8">
                {% for msg in messages %}

                <div class="alert alert-success" role="alert">
                    {{msg.message}}
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    {% csrf_token %}


                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="{%if form.agenda.errors %} inputError {% endif %}">{{form.agenda.label}}</label>
                            <input type="text" name="{{form.agenda.name}}" value="{% if "None" not in form.agenda.value %} {{ form.agenda.value }} {%endif%}" class="form-control form-title" placeholder="Agenda">
                            <span class="text-danger">{{form.agenda.errors}}</span>
                            <br/>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="{%if form.date.errors %} inputError {% endif %}">Meeting date</label>
                            <input type="text" name="{{form.date.name}}" value=" {{ form.date.value|date }}"  class="form-control form-title money datepicker" placeholder="Next meeting">
                            <span class="text-danger">{{form.date.errors}}</span>
                            <br/>
                        </div>
                        <div class="col-md-6">
                            <label for="{%if form.meeting_time.errors %} inputError {% endif %}">Meeting time</label>
                            <input type="text" name="{{form.meeting_time.name}}"  autocomplete="off" value="{{ form.meeting_time.value }}"  class="form-control form-title money timepicker1" placeholder="Meeting time">
                            <span class="text-danger">{{form.meeting_time.errors}}</span>
                            <br/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="{%if form.desc.errors %} inputError {% endif %}">Meeting description</label>
                            <textarea class="form-control form-title" name="{{form.desc.name}}" value="" placeholder="Lead description">{% if "None" not in form.desc.value %} {{ form.desc.value }} {%endif%}</textarea>
                            <span class="text-danger">{{form.desc.errors}}</span>
                            <br/>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col-md-12">
                            <label for="{%if form.lead.errors %} inputError {% endif %}">{{form.lead.label}}</label>

                            <select name="{{ form.lead.name }}" class="form-control input-default   select2" required>

                                <option value="">Select value</option>
                                {% for instance in form.lead.field.queryset %}
                                <option value="{{ instance.id }}" {% if form.lead.value == instance.id %} selected {% endif %}>{{ instance.title }}</option>
                                {% endfor %}
                            </select>
                            <span class="text-danger">{{form.lead.errors}}</span>
                            <br/>
                            <br/>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="{%if form.meeting_status.errors %} inputError {% endif %}">Meeting status</label>
                                <select name="{{ form.meeting_status.name }}" class="form-control input-default   select2" required>
                                    <option value="scheduled" {% if 'Scheduled' in form.meeting_status.value %}{% endif %}>Scheduled</option>
                                    <option value="done" {% if 'Done' in  form.meeting_status.value %}{% endif %}>Done</option>
                                </select>
                                <span class="text-danger">{{form.desc.errors}}</span>
                                <br/>
                            </div>
                        </div>


                    </div>
                    <br>


                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn col-md-3 btn-primary">Save</button>
                            <a href=""><button type="button" class="btn col-md-3 btn-danger">Cancel</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /# column -->
<div class="col-lg-4">

</div>
<!-- /# column -->
</div>
{% endblock %}