{% extends 'master_template.html' %}
{%  block body_block  %}
<div class="col-lg-12">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-th-list"></i> Meeting</h2>

            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                        class="glyphicon glyphicon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="messages col-lg-8">
                {% for msg in messages %}

                <div class="alert alert-success" role="alert">
                    {{msg.message}}
                </div>

                {% endfor %}
            </div>

        </div>
        <div class="box-content">

            <table class="table table-striped tbl " id="table">
                <thead>
                <tr>

                    <th>Date/Time</th>
                     <th>Lead</th>
                    <th>Officer</th>

                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for list in meeting %}
                <tr>
                     <td class="center">{{list.date|date}} {{list.meeting_time}}</td>
                    <td class="center"><a href="{{lead.id}}">{{list.lead.title}}</a></td>
                    <td class="center">{{list.user.username}}</td>

                    <td class="center">
                        {% if 'scheduled' in list.meeting_status  %}
                        <a href="{% url 'editmeeting' list.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="{% url 'deletemeeting' list.id %}" ><i class="glyphicon glyphicon-trash"></i></a>
                        {% else %}
                        {% endif %}

                    </td>


                    <!--        <td class="center">
                               <?php if (($value->c_status=='created')||($value->c_status=='')||($value->c_status=='draft')){?>
                               <a class="text-success" href="<?php echo base_url(); ?>customer/update/<?php echo $value->customer_id;?>">
                                   <i class="glyphicon glyphicon-edit icon-white"></i>

                               </a>
                               <a href="javascript:;"  title="delete" class="text-danger" onclick="confirm_modal('<?php echo base_url(); ?>customer/delete/<?php echo $value->customer_id;?>');">
                                   <i class="glyphicon glyphicon-trash icon-white"></i>
                               </a>
                           <?php }?>

                               </td> -->


                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
{%  block jss  %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.tbl').DataTable( {
        destroy: true,
        dom: 'Bfrtip',
        buttons: [
           {
                    text: '<i class="glyphicon glyphicon-clock" aria-hidden="true"></i>Schedule Meeting',
                    className: 'orange, btn btn-info',
                     action: function (e, dt, node, config)
                        {

                          window.location="{% url 'newmeeting' %}"

                        }
                }

        ]
    } );
    });
</script>
{% endblock %}
