{% extends 'master_template.html' %}
{%  block body_block  %}
{% load staticfiles %}
<div class="col-lg-8">

    <div class="card">
        <div class="card-title">
            <h4>Contacts</h4>
            <br/>
            <br/>
        </div>
        <div class="row table">
            {% for list in contacts %}
            <div  class="col-md-4">
                <a href="{% url 'updatecontact' list.id  %}" ><p><img class="dashboard-avatar" alt=""
                     src="{%  static 'assets/img/person.png' %}" align="bottom"><br/><br/><br/>

                    <strong>{{ list.first_name|upper}}  {{ list.last_name|upper}}<br></strong>
                {{list.company.name}}</strong> <br>
                {{list.company.address}}<br/>
                    <strong>Mobile</strong> {{list.mobile}}<br/>
            </p></a>

            </div>


            {% endfor %}
        </div>

    </div>
</div>
</div>
<!-- /# column -->
<div class="col-lg-4">

</div>
<!-- /# column -->
</div>
{% endblock %}