{% extends 'master_template.html' %}
{%  block body_block  %}
{% load crispy_forms_tags %}
<div class="col-lg-8">

    <div class="card">
        <div class="card-title">
            <h4>Update Contact</h4>
         <br/>
            <br/>
        </div>
        <div class="row">
            <div class="messages col-lg-8">
                {% for msg in messages %}

                <div class="alert alert-success" role="alert">
                    {{msg.message}}
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    {% csrf_token %}


                        <div class="form-row">
                            <div class="col-md-4">
                                {{forms.first_name|as_crispy_field}}
                                <br/>
                            </div>
                            <div class="col-md-4">

                              {{forms.middle_name|as_crispy_field}}

                                <br/>
                            </div>
                            <div class="col-md-4">

                              {{forms.last_name|as_crispy_field}}

                                <br/>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                               {{forms.mobile|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                        {{forms.email|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="col-md-6">

                                 {{forms.company|as_crispy_field}}
                            </div>
                            <div class="col-md-6">

                                 {{forms.address|as_crispy_field}}
                            </div>
                            <div class="col-md-6">

                                 {{forms.city|as_crispy_field}}
                            </div>
                        </div>


                    </div>
                    <br>


                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn col-md-3 btn-primary">Save</button>
                            <a href="{% url 'contactlist' %}"><button type="button" class="btn col-md-3 btn-danger">Cancel</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /# column -->
<div class="col-lg-4">

</div>
<!-- /# column -->
</div>
{% endblock %}
