                        <li><a class="ajax-link" href="{% url 'expenses' %}"><i class="glyphicon glyphicon-th"></i><span> EXPENSES</span></a></li>

                        <li><a class="ajax-link" href="{% url 'charts' %}"><i class="glyphicon glyphicon-align-center"></i><span> CHARTS</span></a></li>

                        <li><a class="ajax-link" href="{% url 'accountcategories' %}"><i class="glyphicon glyphicon-align-center"></i><span> ACC.CATEGORY</span></a></li>

                        <li><a class="ajax-link" href="{% url 'accounts' %}"><i class="glyphicon glyphicon-tasks"></i><span> ACCOUNTS</span></a></li>
                        <!--<li><a class="ajax-link" href="?year=2023"><i class="glyphicon glyphicon-tasks"></i><span> IMPORT </span></a></li>
                        <li><a class="ajax-link" href="{% url 'newinvoice' %}"><i class="glyphicon glyphicon-tasks"></i><span> NEW </span></a></li>
                        <li><a class="ajax-link" href="{% url 'all_for_year' %}"><i class="glyphicon glyphicon-th-list"></i><span> ALL YEAR INVOICE </span></a></li>
                        <li><a class="ajax-link" href="{% url 'services' %}"><i class="glyphicon glyphicon-th-list"></i><span> SERVICES CATEGORY </span></a></li>-->

                        
                        
