                        <li><a class="ajax-link" href="{% url 'invoices' %}"><i class="glyphicon glyphicon-th"></i><span> INVOICES</span></a></li>
                        <li><a class="ajax-link" href="{% url 'paid_invoices' %}"><i class="glyphicon glyphicon-align-center"></i><span> PAID</span></a></li>

                        <li><a class="ajax-link" href="{% url 'qoutes' %}"><i class="glyphicon glyphicon-align-center"></i><span> QOUTES</span></a></li>

                        <li><a class="ajax-link" href="{% url 'cancelled' %}"><i class="glyphicon glyphicon-tasks"></i><span> CANCELED</span></a></li>
                        <li><a class="ajax-link" href="{% url 'newinvoice_import' %}"><i class="glyphicon glyphicon-tasks"></i><span> IMPORT </span></a></li>
                        <li><a class="ajax-link" href="{% url 'newinvoice' %}"><i class="glyphicon glyphicon-tasks"></i><span> NEW </span></a></li>
                        <li><a class="ajax-link" href="{% url 'all_for_year' %}"><i class="glyphicon glyphicon-th-list"></i><span> ALL YEAR INVOICE </span></a></li>
                        <li><a class="ajax-link" href="{% url 'services' %}"><i class="glyphicon glyphicon-th-list"></i><span> SERVICES CATEGORY </span></a></li>

                        
                        
