{% extends 'master_template.html' %}
{%  block body_block  %}
<div class="col-lg-12">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-th-list"></i> Status</h2>

            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                        class="glyphicon glyphicon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">

            <table class="table" id="table">
                <thead>
                <tr>

                    <th>SN</th>
                    <th>Status</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for list in status %}
                <tr>

                    <td class="center"><a href="{{lead.id}}">{{list.id|upper}}</a></td>
                    <td class="center">{{list.name|upper}}</td>
                    <td class="center">{{list.order|upper}}</td>
                    <td class="center"><a href="{% url 'updatestatus'  list.id %}"> <i class="glyphicon glyphicon-pencil"></i></a> </td>


                    <!--        <td class="center">
                               <?php if (($value->c_status=='created')||($value->c_status=='')||($value->c_status=='draft')){?>
                               <a class="text-success" href="<?php echo base_url(); ?>customer/update/<?php echo $value->customer_id;?>">
                                   <i class="glyphicon glyphicon-edit icon-white"></i>

                               </a>
                               <a href="javascript:;"  title="delete" class="text-danger" onclick="confirm_modal('<?php echo base_url(); ?>customer/delete/<?php echo $value->customer_id;?>');">
                                   <i class="glyphicon glyphicon-trash icon-white"></i>
                               </a>
                           <?php }?>

                               </td> -->


                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}